<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout ex1</title>

  
  <link rel="stylesheet" href="../ex4/layout.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>
<body>
  <header>
    <div class="aueb-logo">
      <img src="../ex4/aueb-final11.jpg" alt="AUEB">
    </div> 
    <div class="year">
      <img src="../ex4/logo_100y .png" alt="100year">
    </div>      
    <div class="nav">
      <ul>
        <li><a href="#" alt="AUEB">Home</a></li>
        <li><a href="#" alt="AUEB">We Educate</a></li>
        <li><a href="#" alt="AUEB">We Innovate</a></li>
        <li><a href="#" alt="AUEB">We are</a></li>
      </ul>
    </div>
  </header>
  
  <main>
    <div class="content-img">
      <section class="title-webProgramming">
          <strong>All you need is Love, Passion, Design &
          Software and ... "Web Programming"</strong>
      </section>
      <section class="info-webProgramming">
        Become the Web Programmer you meant to be with a deep knowledge in 
        Web technologies and methods for empowering your career
      </section>
    </div>
    <div class="info-development">
      <h2 class="title-development"><strong>Why Web Development Course</strong></h2>
      <section class="development-course">
        Each distinct day gives an opportunity to learn, progress, and do the things 
        that push you towards your goals or that make you satisfied at the end of the 
        day. With this, if you want to step into the world of coding or more 
        specifically, web development, then this article is for you. In the age of 
        technology, you must have noticed that every popular business has its 
        own websites that help the customer to locate the services you provide. 
        Not only for business, but websites are also built for portfolios, blogs, 
        funding, charities, events, and more. Without any doubt, a career in Web 
        Development is indeed a great choice, especially in today's 
        technology-driven world.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quis illum repudiandae inventore perferendis dicta corporis.
         Cumque, quaerat eum necessitatibus impedit 
        architecto hic, omnis iusto provident, aut vitae libero laboriosam totam.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Praesentium modi provident harum repudiandae ea ipsa facilis 
        veniam enim autem assumenda numquam iste minima 
        consequuntur illum molestiae, placeat fugit magnam asperiores?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit nulla 
        eligendi ipsum error quibusdam, doloremque explicabo hic earum illo 
        fugit quidem cupiditate quaerat. Magnam ea, sit unde voluptatem quis 
        maxime!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Necessitatibus praesentium eius aliquam optio adipisci 
        cumque rem est dolore impedit mollitia corrupti explicabo 
        voluptatem, reiciendis possimus temporibus minus atque. Aperiam, dolores.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Iste, quaerat. At inventore dolorem architecto nobis. Nisi 
        rem incidunt deserunt ullam quos numquam nam cum. 
        Neque quos veniam quidem quod delectus?
      </section>
    </div>
  </main>

    <footer>
      <div class="copyrights">
        &copy Web Development Course, AUEB. All rights reserved, 2023
      </div>
      <div class="social-media">
        <span class="follow">Follow-us:</span>
        <a href="https://www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.twitter.com"><i class="fa-brands fa-square-twitter"></i></a>
      </div>
    </footer>
</body>
</html>